@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap');

:root{
  color-scheme: only light !important;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
    width:100%;
    overflow-x: hidden; 
  }


#preloader{
  height: 100%;
  width: 100%;
  background-color: #3498db;
  position: fixed;
  z-index: 1000;
  align-content: center;
}



.letter {
  color: #ffffff;
  font-size: 22.5rem;
  display: inline-block;
  opacity: 1;
  transform: translateY(1.25rem);
  margin: 0 .625rem;
  padding: 4.375rem;
}

  .container {
    margin: 0 ;
  }
  

  .ff.hidden {
    opacity: 0;
    transition: opacity 1.9s ease-in-out, transform 1.9s ease-in-out;
  }
 
  .hero {
    background-image: url('Background.jpg');
    filter:brightness(1);
    display: flex; 
    justify-content: center;
    height: 60vh;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 12.5rem 1.875rem;
    z-index: 1;
    position: relative;
    max-width: 100%;
    min-width: 100%;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(1.25rem);
    transition: opacity 1.9s ease-in-out, transform 1.9s ease-in-out;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1.9s;
  }

  .gradient-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Adjust the gradient as needed */
    pointer-events: none; /* Allow clicks to pass through the mask to elements below */
  }

  .hero h1 {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
margin-top: 0rem;
filter:brightness(1);
  }
  
  .hero p {
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
    filter:brightness(1);
  
  }

  
  .btn {
    display: inline-block;
    padding: .625rem 1.25rem;
    background-color: #ffffff;
    color: #3498db;
    text-decoration: none;
    border-radius: .3125rem;
    font-weight: bold;
  }
  
  .about, .contact {
    display: flex;
    background-color: #f0f8ff;
    padding: 5rem auto;    
    justify-content: center;
    width:auto;
    margin: auto;
  }
  
  .about h2, .services h2, .contact h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-right: 1.875rem;  
  }

  .bb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    padding-bottom: 10%;
  }
  
  .service {
    flex-basis: calc(33.333% - 1.25rem);
    margin-bottom: 2.5rem;
    text-align: center;
  }
  
  .service h3 {
    font-size: 1.5rem;
    margin-bottom: .625rem;
  }

  .about p, .services p, .contact p, .ext_page p, .ext_page1 p {
    text-align: center; 
  }


  .contact{
    background-color: #002137;
    color: #ffffff;
    text-align: center;
    padding: 1.25rem 1.875rem;
    width:100%;
  }

  footer {
    background-color: #002137;
    color: #ffffff;
    text-align: center;
    padding: 1.875rem ;
    padding-bottom: fit-content;
    width: 100%;
    margin-bottom: auto;
    position: relative;
  }


.im{
  width: 45%;
    height: 47%;
}

.blog {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-top: 0;
  margin: auto;
}

.card {
  width: 18.75rem;
  height: 77%;
  background-color: #fff;
  box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  text-align: center;
  box-shadow: .375rem .375rem .3125rem hsla(0, 0%, 0%, 0.02),
                1.5625rem 1.5625rem 1.25rem hsla(0, 0%, 0%, 0.03),
                6.25rem 6.25rem 5rem hsla(0, 0%, 0%, 0.05);
  transition: all 0.5s ease;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  margin-bottom: .625rem;
  transition: all 1.9s ease;
}

.card h2 {
  margin: .625rem 0;
}

.card p {
  color: #666;
}

.card a {
  display: block;
  margin-top: .9375rem;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.card:hover { transform: scale(1.1); }
.card img:hover { transform: scale(1.1); }


.ext_page{
    padding-bottom: 0;
    padding-top: 10%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.ext_page, .ext_page1 h1{
  text-align: center;
}
h3{
  text-align: left !important;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ext_page1
{
  padding-bottom: 0;
  padding-top: 9.7rem !important;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
  border-bottom: 0;
  margin-right: 0;
  text-align: left !important;
}
 
@media(max-height:695px) {
  .fof footer{
position: fixed !important;
bottom:0 !important;
  }
}
@media(min-height:826px) {
  .fof footer{
visibility: hidden !important;
  }
}